/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    font-family: 'Comic Sans MS', sans-serif;
    color: #49297e;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

h2 img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.btn {
    margin-bottom: 8px;
}
